@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk',sans-serif;
}
.left {
    background-image: url(../images/bg-main-mobile.png);
    height: 40vh;
    background-size: cover;
    width: 100%;
.front {
    height: 130px;
    position: relative;
    left: 20px;
    bottom: 15px;
#number {
    position: relative;
    z-index: 1;
    top: 100px;
    left: 30px;
    color: white;
}
#name {
    position: relative;
    z-index: 1;
    top: 105px;
    left: 30px;
    color: white;
    font-size: 10px;
}
#date {
    position: relative;
    z-index: 1;
    top: 93px;
    left: 200px;
    color: white;
    font-size: 10px;
}
}
.back {
    height: 130px;
    position: relative;
    top: 28px;
    left: 80px;
}
}

.right {
    margin-top: 2rem;
.card {
    color: hsl(278, 68%, 11%);
form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    line-height: 50px;
    margin: 0 2rem;
input {
    padding: 1rem 10rem 1rem .5rem;
}
button {
    margin: 2rem 1.5rem;
    padding: 1rem 8rem;
    background-color: hsl(278, 68%, 11%);
    color: white;
    border-radius: 15px;
}
}
}
}

@media only screen and (min-width: 1440px){
    main {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .left {
        width: 60%;
        height: 100vh;
    .front {
        position: relative;
        bottom: 100px;
        left: 100px;
        height: 30vh;
        font-size:20px;
        #number {
            position: relative;
            z-index: 1;
            top: 50px;
            left: 160px;
            color: white;
        }
        #name {
            position: relative;
            z-index: 1;
            top: 60px;
            left: 160px;
            color: white;
            font-size: 10px;
            font-size: 15px;

        }
        #date {
            position: relative;
            z-index: 1;
            top: 43px;
            left: 400px;
            color: white;
            font-size: 10px;
            font-size: 15px;

        }
    }
    .back {
        position: relative;
        top: 180px;
        left: 150px;
        height: 30vh;

    }
    }
    .right {
        margin: 10rem 5rem;
    .card {
    form {
        button:hover {
            background-color: green;
            color: white;
            transition: .5s ease-in-out;
            
        }
    }
    }
    }
}
